body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.code-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.code {
    width: 40px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
